In [2]:
import pandas as pd

df_2013 = pd.read_csv('data\Servicios_Turisticos_Complementarios\Servicios_Turisticos_2013.csv')
df_2014 = pd.read_csv('data\Servicios_Turisticos_Complementarios\Servicios_Turisticos_2014.csv')
df_2015 = pd.read_csv('data\Servicios_Turisticos_Complementarios\Servicios_Turisticos_2015.csv')
df_2016 = pd.read_csv('data\Servicios_Turisticos_Complementarios\Servicios_Turisticos_2016.csv')
df_2017 = pd.read_csv('data\Servicios_Turisticos_Complementarios\Servicios_Turisticos_2017.csv')
df_2018 = pd.read_csv('data\Servicios_Turisticos_Complementarios\Servicios_Turisticos_2018.csv')
df_2019 = pd.read_csv('data\Servicios_Turisticos_Complementarios\Servicios_Turisticos_2019.csv')
df_2020 = pd.read_csv('data\Servicios_Turisticos_Complementarios\Servicios_Turisticos_2020.csv')

<>:3: SyntaxWarning: invalid escape sequence '\S'
<>:4: SyntaxWarning: invalid escape sequence '\S'
<>:5: SyntaxWarning: invalid escape sequence '\S'
<>:6: SyntaxWarning: invalid escape sequence '\S'
<>:7: SyntaxWarning: invalid escape sequence '\S'
<>:8: SyntaxWarning: invalid escape sequence '\S'
<>:9: SyntaxWarning: invalid escape sequence '\S'
<>:10: SyntaxWarning: invalid escape sequence '\S'
<>:3: SyntaxWarning: invalid escape sequence '\S'
<>:4: SyntaxWarning: invalid escape sequence '\S'
<>:5: SyntaxWarning: invalid escape sequence '\S'
<>:6: SyntaxWarning: invalid escape sequence '\S'
<>:7: SyntaxWarning: invalid escape sequence '\S'
<>:8: SyntaxWarning: invalid escape sequence '\S'
<>:9: SyntaxWarning: invalid escape sequence '\S'
<>:10: SyntaxWarning: invalid escape sequence '\S'
C:\Users\fofoy\AppData\Local\Temp\ipykernel_23352\3281681711.py:3: SyntaxWarning: invalid escape sequence '\S'
  df_2013 = pd.read_csv('data\Servicios_Turisticos_Complementarios\Servicios_Turisticos_2013.csv')
C:\Users\fofoy\AppData\Local\Temp\ipykernel_23352\3281681711.py:4: SyntaxWarning: invalid escape sequence '\S'
  df_2014 = pd.read_csv('data\Servicios_Turisticos_Complementarios\Servicios_Turisticos_2014.csv')
C:\Users\fofoy\AppData\Local\Temp\ipykernel_23352\3281681711.py:5: SyntaxWarning: invalid escape sequence '\S'
  df_2015 = pd.read_csv('data\Servicios_Turisticos_Complementarios\Servicios_Turisticos_2015.csv')
C:\Users\fofoy\AppData\Local\Temp\ipykernel_23352\3281681711.py:6: SyntaxWarning: invalid escape sequence '\S'
  df_2016 = pd.read_csv('data\Servicios_Turisticos_Complementarios\Servicios_Turisticos_2016.csv')
C:\Users\fofoy\AppData\Local\Temp\ipykernel_23352\3281681711.py:7: SyntaxWarning: invalid escape sequence '\S'
  df_2017 = pd.read_csv('data\Servicios_Turisticos_Complementarios\Servicios_Turisticos_2017.csv')
C:\Users\fofoy\AppData\Local\Temp\ipykernel_23352\3281681711.py:8: SyntaxWarning: invalid escape sequence '\S'
  df_2018 = pd.read_csv('data\Servicios_Turisticos_Complementarios\Servicios_Turisticos_2018.csv')
C:\Users\fofoy\AppData\Local\Temp\ipykernel_23352\3281681711.py:9: SyntaxWarning: invalid escape sequence '\S'
  df_2019 = pd.read_csv('data\Servicios_Turisticos_Complementarios\Servicios_Turisticos_2019.csv')
C:\Users\fofoy\AppData\Local\Temp\ipykernel_23352\3281681711.py:10: SyntaxWarning: invalid escape sequence '\S'
  df_2020 = pd.read_csv('data\Servicios_Turisticos_Complementarios\Servicios_Turisticos_2020.csv')

In [3]:
df = pd.concat([df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020])
df

,Unnamed: 0,municipio,Agencias de viajes,Balnearios,Campos de golf,Empresas arrendadoras de automóviles,Marinas turísticas,Muelles de atraque,Transportadoras turísticas especializadas,año
0,9,Estado,816,157,16,104,2,16,531,2013
1,10,I Norte,9,9,0,0,0,0,0,2013
2,11,Chimaltitán,0,2,0,0,0,0,0,2013
3,12,Colotlán,3,3,0,0,0,0,0,2013
4,13,Huejúcar,2,1,0,0,0,0,0,2013
...,...,...,...,...,...,...,...,...,...,...
77,82,Zapopan,0,16,32,93,12,18,7,2020
78,83,Zapotiltic,0,0,1,3,0,0,0,2020
79,84,Zapotlan del Rey,0,0,1,0,0,0,0,2020
80,85,Zapotlán el Grande,0,0,8,9,0,0,0,2020
81,86,Zapotlanejo,0,0,0,5,0,0,0,2020

In [4]:
df = df.drop(columns=["Unnamed: 0"])

In [5]:
df['municipio'] = df['municipio'].str.upper()

In [6]:
df = df[df['municipio'] != 'ESTADO']
df = df[df['municipio'] != 'I NORTE']
df = df[df['municipio'] != 'II ALTOS NORTE']
df = df[df['municipio'] != 'III ALTOS SUR']
df = df[df['municipio'] != 'IV CIÉNEGA']
df = df[df['municipio'] != 'V SURESTE']
df = df[df['municipio'] != 'VI SUR']
df = df[df['municipio'] != 'VII SIERRA DE AMULA']
df = df[df['municipio'] != 'VIII COSTA SUR']
df = df[df['municipio'] != 'IX COSTA NORTE']
df = df[df['municipio'] != 'X SIERRA OCCIDENTAL']
df = df[df['municipio'] != 'XI VALLES']
df = df[df['municipio'] != 'XII CENTRO']

In [7]:
df

,municipio,Agencias de viajes,Balnearios,Campos de golf,Empresas arrendadoras de automóviles,Marinas turísticas,Muelles de atraque,Transportadoras turísticas especializadas,año
2,CHIMALTITÁN,0,2,0,0,0,0,0,2013
3,COLOTLÁN,3,3,0,0,0,0,0,2013
4,HUEJÚCAR,2,1,0,0,0,0,0,2013
5,HUEJUQUILLA EL ALTO,1,1,0,0,0,0,0,2013
6,MEZQUITIC,1,0,0,0,0,0,0,2013
...,...,...,...,...,...,...,...,...,...
77,ZAPOPAN,0,16,32,93,12,18,7,2020
78,ZAPOTILTIC,0,0,1,3,0,0,0,2020
79,ZAPOTLAN DEL REY,0,0,1,0,0,0,0,2020
80,ZAPOTLÁN EL GRANDE,0,0,8,9,0,0,0,2020
81,ZAPOTLANEJO,0,0,0,5,0,0,0,2020

In [8]:
df.to_csv('data\Servicios_Turisticos_Complementarios\Servicios_Turisticos_Historico.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\fofoy\AppData\Local\Temp\ipykernel_23352\660605143.py:1: SyntaxWarning: invalid escape sequence '\S'
  df.to_csv('data\Servicios_Turisticos_Complementarios\Servicios_Turisticos_Historico.csv', index=False)