# Creacion de los archivos csv de post pandemia

In [114]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Vista 02

In [115]:
df_02 = pd.read_excel('10_1_Vistas_2-6.xlsx', sheet_name='Vista02', header=1)
df_02.rename(columns={'Unnamed: 0': 'Año'}, inplace=True)
df_02 = pd.pivot_table(df_02, [x for x in df_02.columns if x not in ['Año', 'Categoria']], ['Año', 'Categoria'])

In [116]:
df_02.to_csv('alojamiento.csv')

## Vista 03

In [117]:
df_03 = pd.read_excel('10_1_Vistas_2-6.xlsx', sheet_name='Vista03')
df_03.rename(columns={'Unnamed: 0': 'Año'}, inplace=True)
df_03 = df_03.pivot(index='Año', columns='Estado', values='Unnamed: 2')
df_03

Estado,Distribución porcentual de establecimientos,Número de establecimientos
Año,,
2013,0.088192,1605.0
2014,0.086420,1617.0
2015,0.084040,1684.0
2016,0.087835,1852.0
2017,0.092776,2038.0
2018,0.090337,2038.0
2019,0.093042,2205.0
2020,0.106427,2628.0
2021,0.104916,2644.0
2022,0.107424,2739.0
2023,0.106357,2821.0

In [118]:
df_03.to_csv('establecimientos.csv')

## Vista 04

In [119]:
df_04 = pd.read_excel('10_1_Vistas_2-6.xlsx', sheet_name='Vista04')
df_04.rename(columns={'Unnamed: 0': 'Año'}, inplace=True)
df_04 = df_04.pivot(index='Año', columns='Estado', values='Unnamed: 2')
df_04

Estado  Distribución porcentual de cuartos  Número de cuartos
Año
2013                              0.092541            62215.0
2014                              0.091405            63284.0
2015                              0.089719            66079.0
2016                              0.092295            70987.0
2017                              0.094918            75422.0
2018                              0.093326            75422.0
2019                              0.091358            76405.0
2020                              0.091978            78533.0
2021                              0.091049            78969.0
2022                              0.093149            82066.0
2023                              0.092987            82778.0

In [120]:
df_04.to_csv('cuartos.csv')

## Vista 05

In [121]:
df_05 = pd.read_excel('10_1_Vistas_2-6.xlsx', sheet_name='Vista05')
df_05 = df_05.drop('Unnamed: 0', axis=1)
df_05.rename(columns={'Unnamed: 1': 'Año'}, inplace=True)
df_05 = df_05.pivot(index='Año', columns='Estado', values='Unnamed: 3')
df_05

Estado  Establecimientos   Porcentaje de crecimiento establecimientos
Año
2013               1605.0                                         NaN
2014               1617.0                                    0.007477
2015               1684.0                                    0.041435
2016               1852.0                                    0.099762
2017               2038.0                                    0.100432
2018               2038.0                                    0.000000
2019               2205.0                                    0.081943
2020               2628.0                                    0.191837
2021               2644.0                                    0.006088
2022               2739.0                                    0.035930
2023               2821.0                                    0.029938

In [122]:
df_05.to_csv('establecimientos_crecimiento.csv')

## Vista 06

In [123]:
df_06 = pd.read_excel('10_1_Vistas_2-6.xlsx', sheet_name='Vista06')
df_06 = df_06.drop('Año', axis=1)
df_06.rename(columns={'Unnamed: 1': 'Año'}, inplace=True)
df_06 = df_06.pivot(index='Año', columns='Estado', values='Jalisco')
df_06

Estado  Cuartos   Porcentaje de crecimiento cuartos
Año
2013     62215.0                                NaN
2014     63284.0                           0.017182
2015     66079.0                           0.044166
2016     70987.0                           0.074275
2017     75422.0                           0.062476
2018     75422.0                           0.000000
2019     76405.0                           0.013033
2020     78533.0                           0.027852
2021     78969.0                           0.005552
2022     82066.0                           0.039218
2023     82778.0                           0.008676

In [124]:
df_06.to_csv('cuartos_crecimiento.csv')